<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:0px">
    <div class="adM">
        <br>
    </div>
    <div>
        <div class="adM">


        </div>
        <div style="width:100%"
             align="center">
            <div class="adM">
            </div>
            <table width="600"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   align="center">
                <tbody>
                <tr>
                    <td>
                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               bgcolor="#ffffff"
                               align="center">
                            <tbody>
                            <tr>
                                <td width="20">
                                    &nbsp;
                                </td>
                                <td>
                                    <table width="560"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td style="height:20px;line-height:20px;font-size:1px"
                                                height="20">
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="20">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td width="20">
                                    &nbsp;
                                </td>
                                <td>
                                    <a href="https://www.immowelt.de/"
                                       name="m_2604829375110340043_header"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=https://www.immowelt.de&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw226u1v7RZdY5-BUJ6KOgn9"><img name="m_2604829375110340043_Cont_2" src="https://ci3.googleusercontent.com/proxy/TIrBhDAbDWWrTuXFUPtsJK5NNooa4Lc6__zXNPJY7E-9rxdMfHhrJ4ThEuIRN0YZi0Jh1vx9lxNOf2XoLs1f6AZm9BUsG6j_28zFVg-EywQ=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_logos/iwde_logo_mC.gif" alt="www.immowelt.de" class="CToWUd" data-bit="iit" width="280" height="26" border="0"></a>
                                </td>
                                <td width="20">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               bgcolor="#ffffff"
                               align="center">
                            <tbody>
                            <tr>
                                <td width="20">
                                    &nbsp;
                                </td>
                                <td>
                                    <table width="560"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td style="height:20px;line-height:20px;font-size:1px"
                                                height="20">
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="20">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td colspan="6"
                                    style="width:100%!important;line-height:6px;font-size:6px"
                                    width="100%"
                                    height="6"
                                    bgcolor="#ffb200">
                                    &nbsp;
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               bgcolor="#ffffff"
                               align="center">
                            <tbody>
                            <tr>
                                <td width="10">
                                    <br>
                                </td>
                                <td>
                                    <table width="560"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0"
                                           bgcolor="#ffffff"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td height="20">
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:arial,sans-serif;font-size:13px;color:#333333;text-align:left">
                                                <div style="font-family:arial;font-size:21px;color:#000000;font-weight:bold;margin:0 0 10px 0">
                                                    Bestätigung
                                                    Ihrer
                                                    Kontaktanfrage
                                                </div>
                                                <br>
                                                <div style="font-family:arial;font-size:12px;color:#000000;font-weight:bold">
                                                    Sehr
                                                    geehrter
                                                    Herr
                                                    Honest
                                                    Goodguy,
                                                </div>
                                                <div style="font-family:arial;font-size:12px;color:#000000">
                                                    Sie
                                                    haben
                                                    am
                                                    13.04.2023
                                                    18:29:45
                                                    eine
                                                    Anfrage
                                                    zu
                                                    folgendem
                                                    Immobilienangebot
                                                    gestellt.
                                                </div>
                                                <br>
                                                <table width="100%"
                                                       cellspacing="0"
                                                       cellpadding="0"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:5px;font-size:1px"
                                                            bgcolor="#fabb00">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table style="font-family:arial;font-size:12px;color:#000000"
                                                       width="100%"
                                                       cellspacing="0"
                                                       cellpadding="0"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td colspan="3">
                                                            <a href="../../../CommandProcessor.php?action=ChangeWebsite&website=http://www.immowelt.de/expose/2HRTN4U"
                                                               style="text-decoration:none;font-family:arial;font-size:14px;color:#000000;font-weight:bold"
                                                               target="_blank">
                                                            <!--data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/expose/2HRTN4U&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw0gQ6EgP8CbLr92E31djuxo"-->
                                                            5 Zimmer Wohnung mit Balkon, Tiere willkommen </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:10px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan="2"
                                                            width="110"
                                                            align="left">
                                                            <img src="../../Gmail/.ImmoMail/Apartment.jpg" class="CToWUd" data-bit="iit" width=80%>
                                                        </td>
                                                        <td width="250"
                                                            valign="top">
                                                            <strong>990
                                                                Euro</strong><br>
                                                            ca.
                                                            100,00
                                                            m²
                                                            <br>
                                                            5
                                                            Zimmer<br>
                                                        </td>
                                                        <td rowspan="2"
                                                            width="200"
                                                            valign="top">
                                                            12345
                                                            Musterstadt
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="250"
                                                            valign="top">
                                                            <br>
                                                            Online-ID:
                                                            2HRTN4U
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"
                                                            style="line-height:1px;height:8px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="110"
                                                            align="left">
                                                            Link
                                                            zum
                                                            Objekt:
                                                        </td>
                                                        <td colspan="2">
                                                            <a href="../../../CommandProcessor.php?action=ChangeWebsite&website=http://www.immowelt.de/expose/2HRTN4U"
                                                               style="font-family:arial;font-size:12px;color:#000000;font-weight:normal;text-decoration:underline"
                                                               target="_blank">
                                                            <!--data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/expose/2HRTN4U&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw0gQ6EgP8CbLr92E31djuxo"-->
                                                            www.immowelt.de/expose/2HRTN4U
                                                            </a>&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"
                                                            style="height:25px">
                                                            <hr>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table style="font-family:arial;font-size:12px;color:#000000"
                                                       width="100%"
                                                       cellspacing="1"
                                                       cellpadding="1"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family:arial;font-size:14px;color:#000000;font-weight:bold;text-align:left">
                                                            Ansprechpartner
                                                            und
                                                            Anbieter
                                                            dieser
                                                            Immobilie
                                                        </td>
                                                        <td style="text-align:right">
                                                            <a href="../../../CommandProcessor.php?action=ChangeWebsite&website=http://www.immowelt.de/expose/2HRTN4U"
                                                               style="font-family:arial;font-size:12px;color:#000000;font-weight:normal;text-decoration:underline"
                                                               target="_blank">
                                                            <!--data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/expose/2HRTN4U?syscid%3Derneute_anfrage&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw2XGvURwIwx0f-vZv-9da4A"-->
                                                            <img src="https://ci3.googleusercontent.com/proxy/11s5DUsSpckz_vDb_CyHo0ELn0kSHkKlGt9nSD_F3gk9bQj749aXOFvdP-pzUUN5x8AZy2JnPJu5iAvZewmtpBouEmpMWRiffzC5AHINujXjtIGgWfyki9qy=s0-d-e1-ft#https://www.immowelt.de/app_themes/mid_0/images/emailtemplate/pfeil.gif" class="CToWUd" data-bit="iit">
                                                            </a>
                                                            <a href="../../../CommandProcessor.php?action=ChangeWebsite&website=http://www.immowelt.de/expose/2HRTN4U"
                                                               style="text-decoration:none"
                                                               target="_blank">
                                                            <!--data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/expose/2HRTN4U?syscid%3Derneute_anfrage&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw2XGvURwIwx0f-vZv-9da4A"-->
                                                            erneut
                                                            Kontakt
                                                            aufnehmen </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table id="m_2604829375110340043dataAnbieter"
                                                       style="font-family:arial;font-size:12px;color:#000000"
                                                       width="100%"
                                                       cellspacing="1"
                                                       cellpadding="1"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td width="110">
                                                            Firma:
                                                        </td>
                                                        <td>
                                                            Mustermann&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Name:
                                                        </td>
                                                        <td>
                                                            Herr
                                                            Max Mustermann
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Straße:
                                                        </td>
                                                        <td>
                                                            Musterstraße
                                                            9&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            PLZ/Ort:
                                                        </td>
                                                        <td>
                                                            12345
                                                            Musterstadt&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Telefon:
                                                        </td>
                                                        <td>
                                                            01234-56789100&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Telefax:
                                                        </td>
                                                        <td>
                                                            01234-56789101&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Mobil:
                                                        </td>
                                                        <td>
                                                            0123-123456789&nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"
                                                            style="height:25px">
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div style="font-family:arial;font-size:14px;color:#000000;font-weight:bold">
                                                    Ihre
                                                    Anmerkung
                                                </div>
                                                <table style="font-family:arial;font-size:12px;color:#000000"
                                                       width="100%"
                                                       cellspacing="0"
                                                       cellpadding="0"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            Guten Abend Herr Mustermann,
                                                            wir würden uns sehr für die Wohnung interessieren.
                                                            Über einen Besichtigungstermin ab 17:30 Uhr würden wir uns sehr freuen
                                                            und verbleiben mit freundlichen Grüßen,
                                                            Familie Goodguy
                                                            <br>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table style="font-family:arial;font-size:12px;color:#000000"
                                                       width="100%"
                                                       cellspacing="0"
                                                       cellpadding="0"
                                                       border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:5px;font-size:1px"
                                                            bgcolor="#fabb00">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Erhalten
                                                            Sie
                                                            weitere
                                                            ähnliche
                                                            Angebote
                                                            per
                                                            E-Mail:
                                                            Wir
                                                            suchen
                                                            für
                                                            Sie
                                                            –
                                                            kostenlos!<br>
                                                            <a href="http://www.immowelt.de/gesuche/suchauftragspeichern.aspx?geoid=10809574123&amp;etype=1&amp;esr=2&amp;ecat=27&amp;roomi=3&amp;rooma=3&amp;syscid=sa_kontakt"
                                                               style="font-family:arial;font-size:12px;color:#000000;font-weight:normal;text-decoration:underline"
                                                               target="_blank"
                                                               data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/gesuche/suchauftragspeichern.aspx?geoid%3D10809574123%26etype%3D1%26esr%3D2%26ecat%3D27%26roomi%3D3%26rooma%3D3%26syscid%3Dsa_kontakt&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw0STQ9On7jzh0PM2In9fSAN">
                                                                <img src="https://ci3.googleusercontent.com/proxy/11s5DUsSpckz_vDb_CyHo0ELn0kSHkKlGt9nSD_F3gk9bQj749aXOFvdP-pzUUN5x8AZy2JnPJu5iAvZewmtpBouEmpMWRiffzC5AHINujXjtIGgWfyki9qy=s0-d-e1-ft#https://www.immowelt.de/app_themes/mid_0/images/emailtemplate/pfeil.gif" class="CToWUd" data-bit="iit">
                                                            </a>
                                                            <a href="http://www.immowelt.de/gesuche/suchauftragspeichern.aspx?geoid=10809574123&amp;etype=1&amp;esr=2&amp;ecat=27&amp;roomi=3&amp;rooma=3&amp;syscid=sa_kontakt"
                                                               style="text-decoration:none"
                                                               target="_blank"
                                                               data-saferedirecturl="https://www.google.com/url?q=http://www.immowelt.de/gesuche/suchauftragspeichern.aspx?geoid%3D10809574123%26etype%3D1%26esr%3D2%26ecat%3D27%26roomi%3D3%26rooma%3D3%26syscid%3Dsa_kontakt&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw0STQ9On7jzh0PM2In9fSAN">
                                                                Suchauftrag
                                                                anlegen </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-color:#fbb200;border-width:1px;border-style:solid;padding:4px">
                                                            <p style="font-family:arial;font-size:12px;color:#000000">
                                                                <strong>Ihre
                                                                    Sicherheit
                                                                    ist
                                                                    uns
                                                                    wichtig!</strong><br>
                                                                Seien
                                                                Sie
                                                                skeptisch
                                                                bei
                                                                Zahlungsaufforderungen
                                                                und
                                                                gehen
                                                                Sie
                                                                niemals
                                                                in
                                                                <a title="Vorabkaution"
                                                                   href="http://www.schutz-vor-immobilienbetrug.de/aktuell/miete-vorabkaution.html?utm_campaign=svib&amp;utm_medium=kbi&amp;utm_source=em"
                                                                   target="_blank"
                                                                   data-saferedirecturl="https://www.google.com/url?q=http://www.schutz-vor-immobilienbetrug.de/aktuell/miete-vorabkaution.html?utm_campaign%3Dsvib%26utm_medium%3Dkbi%26utm_source%3Dem&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw1eHHE4Bg-43Hhnx3lWYvIl">Vorkasse</a>!
                                                                Weitere
                                                                Informationen
                                                                erhalten
                                                                Sie
                                                                auf
                                                                <a title="schutz-vor-immobilienbetrug.de"
                                                                   href="http://www.schutz-vor-immobilienbetrug.de/schutz.html?utm_campaign=svib&amp;utm_medium=kbi&amp;utm_source=em"
                                                                   target="_blank"
                                                                   data-saferedirecturl="https://www.google.com/url?q=http://www.schutz-vor-immobilienbetrug.de/schutz.html?utm_campaign%3Dsvib%26utm_medium%3Dkbi%26utm_source%3Dem&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw3HnaHK8L9f3pfCtRHC9FWK">www.schutz-vor-
                                                                    <wbr>
                                                                    immobilienbetrug.de</a>.
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height:1px;height:15px;font-size:1px">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <div style="padding:0px 0px 20px;font-family:arial;font-size:12px;color:#000000"
                                                     align="left">
                                                    Mit
                                                    freundlichen
                                                    Grüßen<br>
                                                    <strong>Ihr
                                                        immowelt.de-Team</strong><br>
                                                    <br>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="10">
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table width="600"
                               cellspacing="0"
                               cellpadding="0"
                               border="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td height="20">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="350"
                                           cellspacing="0"
                                           cellpadding="0"
                                           border="0"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td valign="top"
                                                align="center">
                                                <a href="http://www.facebook.de/immowelt"
                                                   name="m_2604829375110340043_IconFB"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=http://www.facebook.de/immowelt&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw3r3KvUygKQiZo4FlRyeekw"><img src="https://ci5.googleusercontent.com/proxy/ufn3nzJBtaPZsznJQpXXnYigL9a_BDw_s7yKp5S3vtg5SzN4xubB6x3n_P8TsTjb-VeKzOyCGEY4ySMyHTFvv7Apl_ewKy2ViWByh4Uo=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_fb.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                            <td valign="top"
                                                align="center">
                                                <a href="https://www.instagram.com/immowelt/"
                                                   name="m_2604829375110340043_IconInstagram"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/immowelt/&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw1i-wsILuRRPBN1VDyOl_Bz"><img src="https://ci3.googleusercontent.com/proxy/fSi6Qo_1TtJJhc41tKAXmGiuRax6w4E79al86nOTnkhbXHgr81uhcN1iEWwvl8udKIahdWVAN2siHGxWGPVMhoasV4Jl7PVSnMKXNUn_0V6CDyeB3g=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_instagram.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                            <td valign="top"
                                                align="center">
                                                <a href="http://www.xing.com/companies/immoweltag"
                                                   name="m_2604829375110340043_IconXing"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=http://www.xing.com/companies/immoweltag&amp;source=gmail&amp;ust=1680854540230000&amp;usg=AOvVaw2BOeNFxkNugidgdqo5h7k7"><img src="https://ci4.googleusercontent.com/proxy/NwIdXPIeFrIOLXyMYZV04-Hc-pvemxFgZxJu9JQMuiQAvzJJVC9iPBGJfh9kV13hCuxAg4f0-poehyIvQ2tRqcOoumT2Ab49Op3jcAI-8tQ=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_xing.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                            <td valign="top"
                                                align="center">
                                                <a href="https://twitter.com/immowelt"
                                                   name="m_2604829375110340043_IconTwitter"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/immowelt&amp;source=gmail&amp;ust=1680854540231000&amp;usg=AOvVaw0vJOtKUqBqO1O2xTYajF-D"><img src="https://ci3.googleusercontent.com/proxy/lftxDnJuTK-V3dP_IAeCmNYs1yTLhzatJKgGYmRofVe35zQ_93ruBsVni7phEhHNNXQhJGHF4Q80VUCRGYqK61F3th_mfJwt90aReVP8=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_tw.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                            <td valign="top"
                                                align="center">
                                                <a href="http://www.youtube.com/user/immowelt"
                                                   name="m_2604829375110340043_IconYoutube"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=http://www.youtube.com/user/immowelt&amp;source=gmail&amp;ust=1680854540231000&amp;usg=AOvVaw0ZE9CgY9zBW5oWajbNDgB_"><img src="https://ci6.googleusercontent.com/proxy/GxW71NY4li7yoHEKsg1Hi6WaODwiLnbnX3Acjuae4jnOy_yM3uvKBOv0hSIw8-RerBFh1sXFU8zZHNdTL91FcSl70D-K9Uj05d4Z97S7=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_yt.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                            <td valign="top"
                                                align="center">
                                                <a href="https://www.linkedin.com/company/immowelt-ag"
                                                   name="m_2604829375110340043_Iconlinkedin"
                                                   target="_blank"
                                                   data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/immowelt-ag&amp;source=gmail&amp;ust=1680854540231000&amp;usg=AOvVaw0rcsIo6us9lCnNt1M-bQJX"><img src="https://ci6.googleusercontent.com/proxy/XHb7FrRAqpeDCStkvKgrfWnpSwlXnG9nZ8KTWWEWy9obxaVimWugKU434IhVsuLgs257me6MUSNmBrRt0ZF6TtkgGXPQs9MwtY5l0zrF=s0-d-e1-ft#http://bilder.news.immowelt.de/_email/_elemente/icon_in.gif" alt="" class="CToWUd" data-bit="iit" width="30" height="30" border="0"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:arial,sans-serif;font-size:11px;color:#a1a0a0"
                                    valign="middle"
                                    align="center">
                                    <a href="https://www.immowelt.de/"
                                       style="text-decoration:none;color:#a1a0a0"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=https://www.immowelt.de&amp;source=gmail&amp;ust=1680854540231000&amp;usg=AOvVaw1DKmnWHUbdbM_UG77RC7ky"><span
                                            style="color:#a1a0a0">immowelt.de</span></a>
                                    ist
                                    ein
                                    Portal
                                    der
                                    Immowelt
                                    AG&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="10">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:arial,sans-serif;font-size:11px;color:#a1a0a0"
                                    valign="middle"
                                    align="center">
                                    <strong>Immowelt
                                        AG</strong>
                                    <span style="color:#a1a0a0">· Nordostpark 3-5 ·
                          90411 Nürnberg · Deutschland</span> <br>
                                    Tel.
                                    <span style="color:#a1a0a0">+49 911 520
                          25-20</span> · Fax <span style="color:#a1a0a0">+49 911 520 25-25</span>
                                    ·
                                    <a href="mailto:info@immowelt.de"
                                       style="color:#a1a0a0;text-decoration:underline;font-size:11px"
                                       name="m_2604829375110340043_info_immowelt_de"
                                       target="_blank"><span
                                            style="color:#a1a0a0">info@immowelt.de</span></a>
                                    ·
                                    <a href="https://www.immowelt.de/"
                                       style="color:#616161;text-decoration:underline"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=https://www.immowelt.de&amp;source=gmail&amp;ust=1680854540231000&amp;usg=AOvVaw1DKmnWHUbdbM_UG77RC7ky">www.immowelt.de</a>
                                    <br>
                                    Amtsgericht
                                    Nürnberg
                                    HRB
                                    17587
                                    ·
                                    USt-IdNr.
                                    DE
                                    <span style="color:#a1a0a0">132 761 857</span>
                                    ·
                                    Sitz
                                    der
                                    Gesellschaft:
                                    Nürnberg
                                    <br>
                                    Vorstand:
                                    Carsten
                                    Schlabritz
                                    (Vorsitzender),
                                    Jürgen
                                    Roth,
                                    Ulrich
                                    Gros<br>
                                    Aufsichtsratsvorsitzender:
                                    Dr.
                                    Andreas
                                    Wiele<br>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td height="5">
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>
</body>
</html>